html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    margin: 20px;
    padding: 5px;
    color:black;
}

body {
    background-color: #cfcfcf;
    background-image: url(img/Fortnite.jpg);
    
}

table {
    margin-right: auto;
    margin-left: auto;
}

footer {
    text-align: center;
    color: black;
}

tr, td {
    padding-right: 100px;
    padding-left: 100px;
    color: black;
    background-color: linen;
}

ul {
    padding-left: 47.5%;
    list-style-type: none;
    color: black;
}

.alinhando, .form-add {
    text-align: center;
    text-decoration: none;
    color: black;
}

.bgmenu {
    background-color: whitesmoke;
    width: fit-content;
    margin: 0 auto;
    padding: 3px;

}


.cor-txt {
    padding: 10%;
    background-color: grey;
}
